{% extends 'default.html.twig' %}

{% block content %}
    {% for message in app.flashes('info') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

    {% for tweet in tweets %}
        {% include '_tuit.html.twig' with {truit: tweet} %}
    {% endfor %}
{% endblock %}
