{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    {% for message in app.flashes('info') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

    <ul>
        {% for tweet in tweets %}
            <li>
                {{ tweet.text }} (@{{ tweet.author.username }}) | {{ tweet.createdAt | date("d/m/Y") }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
